# Entornos
.env
.env.*
!.env.example

# Binarios
Api/bin/
Etl/bin/
*.exe
*.out

# Go
vendor/

# Logs
*.log

# Python (herramientas puntuales del ETL)
__pycache__/
*.pyc

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp

# Docker
*.pid
